.benefits{
    padding-top: 145px;
    @include md-d{
        padding-top: 60px;
    }
    &__remark{
        font-size: 20px;
        line-height: 30px;
        color: #6D6D6D;
        margin-top: 24px;
        width: 422px;
        @include md-d{
            width: auto;
            font-size: 16px;
            line-height: 147.8%;
            margin-top: 21px;
        }
    }
    &__wrapper{
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__box{
        width: 392px;
        height: 272px;
        background: #FFFFFF;
        box-shadow: 0px 7px 34px rgba(57, 63, 82, 0.05);
        border-radius: 15.802px;
        margin-left: 12px;
        margin-top: 24px;
        padding: 22px 50px 22px 29px;
        &:first-child{
            margin-left: 0;
        }
        @include md-d{
            margin-left: 0;
        }
    }
    &__box-number{
        @extend %font800;
        font-size: 45px;
        line-height: 58px;
        color: $accent;
    }
    &__box-title{
        @extend %font800;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
    }
    &__box-text{
        margin-top: 16px;
        font-size: 18px;
        line-height: 130%;
        color: #6D6D6D;
    }
}