.desc{
    padding-top: 150px;  
    padding-bottom: 150px;
    h2{text-align: center;}  
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__box{
        width: 400px;
        // border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        color: #1C1F2A;
        transition: 0.3s linear;

        &:hover{
            color: $accent;
            transition: 0.3s linear;
            .desc__img{
                transition: 0.3s linear;
            transform: scale(1.1);
            }
        }
    }
    &__img{
        width: 100px;
        transition: 0.3s linear;
        }
    &__text{
        
        text-align: center;
        text-transform: uppercase;
        font-family: 'mont700';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        margin-top: 48px;
    }
}