.direction {
	padding-top: 117px;	
	svg path {
		fill: #556666;
	}
	@mixin tabs-transition() {
		-ms-transition: all 0.15s ease;
		-webkit-transition: all 0.15s ease;
		transition: all 0.15s ease;
	}
	.one{
		width: 100%;
	}
	/* Vars */
	$tab_text_color: #1C1F2A;
	$tab_text_color_active: #fff;
	$tab_text_color_hover: inherit;
	$tab_container_bg: transparent;
	$tabs_min_width: 175px;
	$tabs_width: 33%;
	$tab_container_width: 62%;
	$tab_container_min_width: 10px;

	.tabs_wrapper {
		text-align: center;
		margin-top: 73px;
		background: transparent;

		.btn {
			margin-top: 10px;
			width: 100%;
		}
	}

	.tabs_button {
		margin-top: 25px;
		&:last-child {
			margin-top: 0;
		}
	}

	.tabss {
		width: 33%;
	}
	.tabs__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.tab__icon {
		svg {
			transform: rotate(90deg);
		}
	}
	ul.tabss {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 10;
		background: #fff;
		padding: 0;
		width: $tabs_width;
		min-width: $tabs_min_width;
		list-style: none;
		@include tabs-transition;
		li {
			@include tabs-transition;
			margin: 0;
			cursor: pointer;			
			background: #000;			
			background: url('../img/bg-dir.png') no-repeat;
			
			@extend %font700;
			font-size: 24.97px;
			line-height: 35px;
			text-align: center;
			color: #1C1F2A;
			width: 328px;
			height: 103px;					
			display: flex;
			justify-content: center;
			align-items: center;
			width: 328px;
			&:first-child{
				margin-bottom: 24px;
			}
			@include tabs-transition;
			&:hover {				
				@include tabs-transition;	
				
					
			}
			&.active {
				border-radius: 16px 0 0 16px;
				background: #000;
				position: relative;
				color: #fff;
				width: 358px;
				border-color: #000;
				background: url('../img/bg-dir-a.png') no-repeat;
				@include tabs-transition;	
				// &::before{
				// 	@include tabs-transition;
				// 	content: '';
				// 	position: absolute;
				// 	left: 97%;
				// 	top: -1px;
				// 	width: 30px;
				// 	height: 105px;
				// 	border-left: solid 55px rgb(0, 0, 0);
				// 	border-bottom: solid 55px transparent;
				// 	border-top: solid 55px transparent;
				// }			
			}
		}
	}
	.tab_title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #000;
		@include sm-d {
			font-size: 16px;
			line-height: 20px;
		}
		@include md-d {
			display: none;
		}
		
	}
	.tab_uptitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		margin-top: 37px;
		columns: #556666;
	}
	.tab_text {
		font-size: 16px;
		line-height: 165%;
		color: #6b7575;
		@include sm-d {
			font-size: 14px;
			line-height: 165%;
		}
	}
	.tab_paragraph {
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
		@include sm-d {
			margin-top: 15px;

		}
	}

	.tab_containers {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 20;
		left: -2%;
		width: $tab_container_width;
		min-width: $tab_container_min_width;
		text-align: left;
		background: $tab_container_bg;
		margin-left: 35px;
		min-height: auto !important;
	}

	.tab_contents {
		
		height: 100%;
		display: none;
		li {
			list-style-type: disc;
			margin-left: 30px;
			margin-top: 10px;
		}
	}

	.tab_drawer_headings {
		display: none;
		margin-left: 20px;
		@include sm-d {
			margin-left: 10px;
		}
	}

	.tabs_button-respons {
		display: none;
		@include md-d {
			display: block;
		}
	}

	@media screen and (max-width: 803px) {
		ul.tabss {
			display: none;
		}
		.tab_containers {
			display: block;
			margin: 0 auto;
			width: 100%;
			border-top: none;
			border-radius: 0;
		}
		.tab_drawer_headings {
			background: #ffffff;
			box-shadow: 0px 14px 50px 5px rgba(178, 200, 200, 0.1);
			border-radius: 15px;
			padding: 20px 30px 20px 20px;
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&:hover {
				color: $tab_text_color_hover;
			}
		}
		.d_active {
			color: $tab_text_color_active;
			background: #000;
		}
	}
}