.form{
    margin-top: 150px;
    background-color: #1C1F2A;
    padding-bottom: 65px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-top: 82px;
        @extend %font800;
        font-size: 40px;
        line-height: 51px;
        span{
            color: $accent;            
        }
    }
    &__remark{
        margin-top: 12px;
        font-size: 16px;
        line-height: 147.8%;
        color: #D8D8D8;
    }
    form{
        margin: 0 auto;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 830px;        
    }
    &__contain{
        margin-top: 16px;
        width: 400px;
        display: flex;   
        justify-content: space-between;
        flex-wrap: nowrap;   
        margin-left: 15px;  
    }
    input{
        margin-left: 24px;
        background: transparent;
        color: #646877;
        font-size: 18px;
        line-height: 147.8%;
        border-bottom: 1px solid #646877;
        &::placeholder{
            font-size: 18px;
            line-height: 147.8%;
            background: transparent;
            color: #646877;
            text-align: center;
            padding-bottom: 5px;
            
        }
    }
    &__text{
        display: flex;
        flex-wrap: nowrap;
        font-size: 16px;
        line-height: 147.8%;
        color: #D8D8D8;
    }
    &__button{
        margin-top: 59px;        
        align-self: center;       
    }
    &__or{
        color: #D8D8D8;
        margin-top: 19px;
    }
    &__social{
        display: flex;
        align-self: center;
    }
    &__icon{
        margin-left: 14px;
        margin-top: 19px;
        &:first-child{
            margin-left: 0;
        }
        svg{
            width: 44px;
            height: 44px;
            transition: 0.2s linear;
            cursor: pointer;
            &:hover{
                
                transition: 0.2s linear;
                path{
                    fill: $accent;   
                    transition: 0.2s linear;                 
                }
                circle{
                    transition: 0.2s linear;
                    stroke: $accent;  
                }
            }
        }
    }
}