$blackColor: #fff;


.header {    
  position: fixed;
  background: transparent;
  top: 0px;
  left: 0px;
  padding-bottom: 15px;
  z-index: 6;
  width: 100%;
  padding-top: 15px;  
  transition: 0.3s linear;

    &__active{
      transition: 0.3s linear;
      margin-top: -15px;
      background: #1C1F2A;
    }
    .container{
      position: relative;
    }
    
    &__wrapper{
      display: flex;
      align-items: center;
      margin-top: -20px;
    }
    &__logo{
      font-size: 25px;    
      padding-top: 10px; 
      span{
        color: $accent;
      }
    }
    &__right{
      display: flex;
      align-items: center;
      margin-right: 200px;
    }
    &__social{
      margin-top: 41px;
      margin-left: 30px;
      @include md-d{
        display: none;
      }
    }
    &__link{
      margin-right: 10px;
      width: 33px;
      svg{
        width: 33px;
        height: 33px;
        &:hover{
          path{
            fill: $accent;
          }
        }
      }
    }
    &__logo{
      position: relative;
      z-index: 8;
      margin-top: 30px;
    }
    &__wrapper{   
      // margin-right: 50px;   
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__phone{
      display: flex;
      align-items: center;
      margin-top: 41px;
      font-size: 18.831px;
      line-height: 25px;      
      color: #FFFFFF;
      img{
        margin-right: 3px;
      }
      @include md-d{
        display: none;
      }
    }
    input{
      opacity: 0;
    }
    input + label {
      position: absolute;
      top: 50px;
      right: 20px;
      height: 20px;
      width: 39px; 
      z-index: 20;
      @include md-d{
        top: 33px;
      }
      &:hover{
        transition: 0.3s linear;
        span{
          &:last-child{
            width: 100%;
            transition: 0.3s linear;
  
          }
        }
       
      } 
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        right: 0;
        display: block;
        background: $blackColor;
        transition: .5s;
       
      }
      span:first-child {
        top: 0px; 
      }
      span:last-child {
        top: 19px; 
        background: $accent;
        width: 70%;        
      }  
         
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label { 
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
        width: 100%;
        background: #fff;
      }
    }
    input ~ nav {
      background:  #1C1F2A;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0px;
      z-index: 5;
      transition: .5s;
      transition-delay: .5s;
      
      > ul {
        top: 189px;
        left: 120px;       
        position: absolute;
        display: flex;
        flex-direction: column;
        @include md-d{
          top: 95px;
          left: 15px;
        }
        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;
          margin-bottom: 35px;
          > a {            
            font-size: 35px;
            line-height: 46px;
            color: #FFFFFF;
            display: block;
            @include md-d{
              font-size: 25px;
            }
          }
        }
      }
    }
    input:checked ~ nav { 
      height: 100%;
      transition-delay: 0s;
      
      > ul {
        > li {
          opacity: 1;
          transition-delay: .5s;
          a{
            transition: 0.3s linear;

            &:hover{
              transition: 0.3s linear;
              color: $accent;
            }
          }
          
        }
      }
    } 
}


    /*PURELY FUNCTIONNAL CSS START*/
    .dropdown, .link, .link-hover {
      display: inline-block; /*keep from overflow*/
      transition: 0.3s linear;

    }
    .dropdown{
      transition: 0.3s linear;

    }
    .link-hover{
      &--first{
        @include md-d{
          &:hover{
            padding-bottom: 150px;
          }
        }
      }
      &--second{
        @include md-d{
          &:hover{
            padding-bottom: 300px;
          }
        }
      }
    }
    .dropdown-content {
      display: none; /*don't show it on default*/
      opacity: 0;
      position: absolute; /*dropdown needs to be below the text*/
      
      background: transparent;
      white-space: nowrap; 
      transition: 0.3s linear;
      &--first{
        left: 500px;
        top: -20px;
        @include md-d{
          left: 0;
          top: 120px;
        }
      }
      &--second{
        left: 500px;
      top: -20px;
        @include md-d{
          left: 0;
          top: 200px;
        }
      }
      a{
        transition: 0.3s linear;
        font-size: 25px !important;   
        @include md-d{
          font-size: 18px !important;
        }
      } 
    }
    .dropdown:hover .dropdown-content {
      transition: 0.3s linear;
      opacity: 1;
      display: flex;      
      flex-direction: column;
      align-items: flex-start; 
    } /*concerns all items inside the .dropdown div, when the .dropdown gets hovered*/
    .dropdown-content .link {
      display: block;
     /*not inline because we want to skip lines*/
      margin-top: 20px;
      opacity: 1;
      transition: 0.3s linear;
      transition-delay: 0.3s;
    } 
    
    
    .link, .link-hover {    
      width: 500px;
      background: transparent; 
      display: flex;
      align-items: center;
      font-size: 35px;
      line-height: 46px;
      color: #FFFFFF;       
      mix-blend-mode: difference;
      transition: 0.3s linear;
      @include md-d{
        font-size: 25px;
      }
      svg{
          margin-left: 15px;
          margin-top: 2px;
          width: 15px;
          height: 15px;
          transform: rotate(270deg); 
          transition: 0.3s linear;
         
      }   
      &:hover{
        color: $accent;
        cursor: pointer;
        transition: 0.3s linear;
        svg{
          margin-left: 20px;
          transition: 0.3s linear; 
          path{
            fill: $accent;
          }         
        }

      }
    }
    .link:hover, .link-hover:hover {
      background: transparent;
      opacity: 1;
      color: $accent;
    }
    .link:active, .link-hover:active {
      color: $accent;
    }