.intro{
    
    position: relative;
    margin-top: -15px;
    height: 102vh;
    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000049;
    }
    &__slider{
        display: flex;
        align-items: flex-start;
        &--flex{
            justify-content: space-around;

        }
    }
    &--main{
        background: url('../img/intro-bg.webp') no-repeat;
        background-size: cover;
    }

    &--turnik{
        position: relative;
        background: url('../img/turnik.png') no-repeat;
        background-size: 100%;
        background-position: center;
        @include xl-d{
            background-size: cover;
        }.container{
            height: 100%;
        }
        .intro__slider{
            height: 100%;
        }
        .intro__black{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000086;
        }
        .intro__wrapper{
            @include lg-d{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
           
        }
        .intro__downline{
            margin-top: 30px;
            font-size: 30px;
            color: #fff;
            padding-bottom: 300px;
        }
        h1{
            font-size: 80px;
            max-width: 600px;
            line-height: 90px;
            @include md-d{
                font-size: 60px;
                text-align: center;
                line-height: 60px;
            }
        }
    }
    &--ajax{
        background: url('../img/showreel-animation.lg.mp4') no-repeat;
        background-size: cover; 
        .intro--ajax-video  {
            position: absolute;
            width: 100%;
            height: 100%;
            video{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }     
        .intro__downline{
            margin-top: 30px;
            font-size: 30px;
            color: #fff;
            padding-bottom: 300px;
        }
        .intro__wrapper{
            display: flex;
            align-items: center; 
        }
        h1{
            font-size: 70px;
            max-width: 600px;
            line-height: 90px;
            @include md-d{
                font-size: 60px;
                text-align: center;
                line-height: 60px;
            }
        }
    }
    &--video {
        background: url('../img/video1.jpg') no-repeat;
        background-size: 100%;
        background-position: center;
        @include xl-d{
            background-size: cover;
        }.container{
            height: 100%;
        }
        .intro__slider{
            height: 100%;
        }
        .intro__wrapper{
            @include lg-d{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
           
        }
        .intro__downline{
            margin-top: 30px;
            font-size: 30px;
            color: #fff;
            padding-bottom: 300px;
        }
        h1{
            font-size: 80px;
            max-width: 600px;
            line-height: 90px;
            @include md-d{
                font-size: 60px;
                text-align: center;
                line-height: 60px;
            }
        }
        
    }
    &--sks{
        background: url('../img/sks.jpg') no-repeat;
        background-size: cover;
        .intro__downline{
            margin-top: 30px;
            font-size: 30px;
            color: #fff;
            padding-bottom: 300px;
        }
        h1{
            margin-top: -50px;
            font-size: 60px;
            max-width: 600px;
            line-height: 90px;
            @include md-d{
                font-size: 60px;
                text-align: center;
                line-height: 60px;
            }
        }
    }
    &--skd{
        background: url('../img/skd2.jpg') no-repeat;
        background-size: cover;        
        .intro__downline{
            margin-top: 30px;
            font-size: 30px;
            color: #fff;
            padding-bottom: 300px;
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 139px;
        padding-bottom: 95px;
        @include md-d{
            padding-top: 109px;
        }
        &--ajax{
            padding-top: 220px;
            @include md-d{
                padding-top: 200px;
            }
        }
    }
    &__title{
        
        @include md-d{
            align-self: center;
        }
    }
    &__remark{
        max-width: 500px;
        font-size: 18px;
        line-height: 172%;
        color: $greyColor;
        margin-top: 15px;
        @include md-d{
            text-align: center;
            font-size: 14px;
            margin-top: 21px;
        }
    }
    &__btn{
        margin-top: 42px;
        @include md-d{
            align-self: center;
            margin-top: 66px;
            margin-bottom: 24px;
        }
    }
    &__progress{
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        max-width: 388px;
        color: $greyColor;
        @include md-d{
            display: none;
        }
    }
    &__count{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    &__number{
        font-weight: 600;
        font-size: 71.65px;
        line-height: 92px;
    }
    &__number-status{
        @extend %font700;
        font-size: 12px;
        line-height: 165%;
    }
    &__mouse{
        position: absolute;
        left: 50%;
        bottom: 27px;
        transform: translateX(-50%);
        
        &:hover{
            filter: drop-shadow(0px 0px 4px $accent);
            svg{
                path{
                    fill: $accent;
                }
            }
        }
        
    }
    &__form{
        margin-right: 15px;
        margin-top: 150px;
        margin-left: 110px;
        background: #1b1d28df;
        padding: 30px 10px;
        // border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s linear;        
        @include md-d{
            display: none;
            margin-right: 0;
        }
        // filter: drop-shadow(0px 0px 5px $accent);
        &:hover{
            transition: 0.3s linear;
            background: #1b1d28;

            // filter: drop-shadow(0px 0px 10px $accent);
        }
        span{
            color: $accent;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 200px;
                background: transparent; 
                border-bottom: 2px solid $accent;
                padding-bottom: 10px;                
                color: #fff;
                text-align: center;
                font-size: 20px;
                &::placeholder{
                    text-align: center;
                    font-size: 18px;

                }               
            }
            
        }       
    }
    &__form-title{
        max-width: 400px;
        text-align: center;
        margin-top: 15px;
        @extend %font700;
        font-size: 25px;
        line-height: 25px;
        @include md-d{
            margin: 0 auto;
        }
    }
    &__form-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
    }
    &__form-text{
        font-size: 22px;
        margin-bottom: 15px;
    }
    &__form-remark{
        align-self: center;
        max-width: 300px;
        text-align: center; 
        color: rgba(255, 255, 255, 0.601);
        font-size: 16px;
        margin-top: 20px;
        @include md-d{
            margin: 15px auto 0;
 
        }
    }
    &__form-button{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__visible{
        display: none;
        @include md-d{
            display: flex;
            flex-direction: column;
            align-items: center;
            .intro__form{
                display: block;
                margin-left: 0;
                width: 100%;
                margin-top: 0px;
                border-radius: 0px;
            }
        }
    }
}